<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.sct.mapper.ScoreMapper">
  
  
  
  <insert id="insertScore">
  	insert into tb_score (useq, bodyscore, mindscore, mentalscore, scoredate, timecode) 
values (#{useq}, #{bodyscore}, #{mindscore}, #{mentalscore}, CURRENT_TIMESTAMP, #{timecategory});
  </insert>
  
  <select id="countAllScore" resultType="Integer">
  select count(*) from tb_score
  </select>
  
  <select id="selectDayScore" resultType="ScoreVO">
    SELECT * FROM tb_score WHERE useq=#{useq} AND DATE(scoredate)=#{today};
  </select>
  
</mapper>