<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.sct.mapper.UserMapper">
  
  <select id="selectUser" resultType="UserVO">
    select * from User where id = #{id} and password=#{password}
  </select>
  
  <insert id="insertUser">
  	insert into tb_user (id, name, email, password, joindate)
  	values(#{id}, #{name}, #{email}, #{password}, CURRENT_TIMESTAMP)
  </insert>
  
</mapper>